.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.355);
}

body{
    background-image: url(/img/fondo_index.png);
    cursor: url("/cursor/cursor_cat.cur"), auto;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 8px;
    background-color: rgba(19, 15, 132, 0.019);
    color: #ffffffb5;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.521);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.logo img {
    width: 160px;
    height: 60px;
    padding-top: none;
    margin-top: none;
    padding-left: 5px;
    padding-right: 2px;
    filter: drop-shadow(0 0 6px #180a4d);
    filter: invert();

}

.menu {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 8px;
    color: #ffffffaf;
    
}
.menu a {
    text-decoration: none;
    color: #ffffffb3;
    font-weight: bold;
    padding: 18px 14px 4px 8px;
    letter-spacing: 2px;
    position: relative;
    transition: .5s ease;
    text-decoration: none;
    
}
.menu a:hover {
    color: #ffffff;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.8px;
    background-color: #ffffffb3;
    transition: width 0.3s ease;
}
.menu a:hover::after {
    width: 90%;
}

form {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 0 0 20px rgba(100,200,255,0.08);
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease;
    text-align: center;
}

.contenedorform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
}


form:hover {
    transform: scale(1.01);
}

form label {
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

form input,
form textarea {
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ffffff34;
    border-radius: 1px;
    background-color: transparent;
    color: #f3f3f3;
    font-size: 13px;
    text-align:left;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus,
form textarea:focus {
    border-color: #ffffffbd;
    box-shadow: 0 0 8px rgba(107, 97, 255, 0.4);
}

form button {
    width: 98%;
    padding: 8px;
    background: #13335b62;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    filter: blur();
    font-family: 'Poppins', sans-serif;
}

form button:hover {
    background: #1d315476;
    box-shadow: 0 0 15px rgba(144, 144, 144, 0.5);
}

#errorNombre,
#errorEmail,
#errorTelefono,
#errorMensaje,
#formErrores {
    color: #f3f3f3;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}
.creditos {
    position: absolute;
    top: 50%;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: #ffffffd0;
    text-shadow: 0 0 6px #00000080;
}

.nombre {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

.patita {
    width: 12px;
    height: 12px;
    filter: invert();
}
.nombre:hover .patita {
    transform: scale(1.3);
    filter: drop-shadow(0 0 8px #00000086);
}