.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(42, 63, 158, 0.153);
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.logo img {
    width: 90px;
    height: 60px;
    padding-top: none;
    margin-top: none;
    padding-left: 5px;
    padding-right: 2px;
    filter: drop-shadow(0 0 6px #180a4d);

}
.logo h1 {
    font-size: 20px;
    padding-top: 14.4px;
    color: #fffffff9;
    letter-spacing: 3px;
    font-family: 'Chewy' cursive;
    text-shadow: 0 0 8px #180a4d;
}
.menu {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px 5px 8px;
    color: #ffffffaf;
    
}
.menu a {
    text-decoration: none;
    color: #ffffffb3;
    font-weight: bold;
    padding: 18px 14px 4px 8px;
    letter-spacing: 2px;
    position: relative;
    transition: .5s ease;
    text-decoration: none;
    
}
.menu a:hover {
    color: #ffffff;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.8px;
    background-color: #ffffffb3;
    transition: width 0.3s ease;
}
.menu a:hover::after {
    width: 90%;
}
.contenido {
    padding: 20px;
}
body{
    background-image: url(../img/fondo_index.png);
    background-size: cover;
    background-attachment: fixed;
}
footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 15px;
    background-color: rgba(19, 15, 132, 0.019);
    color: #ffffffb5;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
#formContacto {
    background-color: rgba(255, 255, 255, 0.382);
    padding: 30px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    height: 400px;
    margin: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

label {
    text-align: center;
    padding: 30px;
    margin: 20px;
}

input {
    text-align: center;
    padding: 8px;
    margin: 8px;
    border: none;
    background: transparent;
}
textarea {
    text-align: center;
    padding: 8px;
    margin: 8px;
    border: none;
    background: transparent;
}